<!-- <div>
  <input type="text" [(ngModel)]="value">
  
  <button (click)="incr()">+</button>
  <div style="border: 1px solid green; height: 200px;width: 200px;">

<app-header [prop]="value"></app-header> -->
 

<!-- </div>

  <div style="border: 1px solid red; height: 200px;width: 200px;"></div>
</div> -->

<div style="border: 1px solid red; height: 200px;width: 200px;">
  <app-header [prop]="count"></app-header>
</div>
<div style="border: 1px solid red; height: 200px;width: 200px;">
  <button (click)="incr()">+</button>
  <button (click)="decr()">-</button>
  <button (click)="reset()">reset</button>
</div>


<div style="border: 1px solid red; height: 200px;width: 200px;">
  <app-header [username]="username"></app-header>
  <app-header [Password]="password"></app-header>
</div>

<div style="border: 1px solid red; height: 200px;width: 200px;">
  
</div>