#products{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.product{
    height: 200px;
    width: 200px;
    box-shadow: 8px 8px 8px black;
    margin: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.product img{
    height: 200px;
    width: 200px;
}
.product:hover{
    box-shadow: 8px 8px 8px rgb(210, 113, 113);
    scale: 1.1;
}